body {
  background-color: #0b0014;
}

#nav {
  width: 900px;
  display: flex;
  color: #ff124f;
  background-color: #39016e;
  outline: 5px solid black;
  font-size: 50px;
  align-items: center;
  justify-content: center;
  margin: 50px auto;
}

#nav h1 {
  font-family: 'Sedgwick Ave Display', cursive;
  margin: auto;
}

#nav button {
  display: block;
}

/* Profile Page */

#ProfilePage {
  max-width: 80%;
  margin: 50px auto;
}


/* Banner */

#ProfileBanner{
  outline: 2px solid #ff124f;
  display: flex;
  align-items: center;
  justify-content: center;
}

#ProfileBanner img{
  height: 300px;
  width: 300px;
  margin: 10px 10px;
  outline: 2px solid #ff124f;
  border-radius: 50%;
  overflow: hidden;

}

#ProfileBanner #info {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 50px;
  color: #ff124f;
  font-family: 'Rajdhani', sans-serif;
}



/* Profile Nav */

#ProfileNav {
  margin-top: 30px;
  outline: 2px solid #ff124f;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.NavButton {
  border: none; 
  outline: none; 
  background: none;
  padding: 0; 
  margin: 10px; 
  color: #ff124f; 
  font-size: 40px;
  font-family: 'Rajdhani', sans-serif;
}

.NavButton:hover {
  text-decoration: underline;
  cursor: pointer;
}












